#auth {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-family: "Oswald", sans-serif;
  min-height: calc(85vh - 190px);
}

.auth-logo {
  height: 70px;
  width: 70px;
  margin-bottom: 6px;
}
