.fantasy-league {
  max-width: 70%;
  margin: 0 auto;
  padding-top: 1rem;
  background-color: inherit;
}
.league-title {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 50px 15px 50px;
  padding-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}
.roster-grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 40px 235px;
  gap: 10px;
}
.roster-grid-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.cell-play {
  width: 60%;
  border-radius: 50%;
}
.cell-logo {
  width: 50%;
}
.cell-name,
.roster-grid-label {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: #333;
}
.roster-grid-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 25px;
  border-bottom: 1px solid #333;
}
