.fantasy-league {
  max-width: 70%;
  margin: 0 auto;
  padding-top: 1rem;
  background-color: inherit;
}
.league-title {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 50px 15px 50px;
  padding-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}
